/* header.css */
.header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  position: fixed;
    top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
    backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(15px);

}

.logo {
  filter: invert(1);
}

.nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #555;
  transition: color 0.2s ease;
  font-size: 1.2rem;
}
